
<table border="1">
    <caption>Invoke Lambda</caption>
    <tr>
        <th>Express url</th>
        <th>scope</th>
        <th>Invoke API</th>
        <th>Service Response</th>
        <th>Access Token</th>
    </tr>
      <form action="/express1" method="post">
    <tr>
        <td>{{host1}}</td>
        <td>scope1</td>
        <td><input type="submit" value="Invoke"></td>
        <td>{{status1}}</td>
        <td>{{status1Token}}</td>
    </tr>
    </form>
      <form action="/express2" method="post">
    <tr>
        <td>{{host1}}</td>
        <td>scope2</td>
        <td><input type="submit" value="Invoke"></td>
        <td>{{status2}}</td>
        <td>{{status2Token}}</td>
    </tr>
    </form>
</table>

